#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #47936F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
text-align: center;}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
}

.details__parks, .details__guests, .details__activity {
    background-color: #2C8574;
    border: 0.1rem solid;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.details__parks:hover, .details__guests:hover, .details__activity:hover  {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.area {
    font-size: xx-large;
    flex-wrap: wrap;
    list-style-type: none;
 
}

.guest {
    font-size: xx-large;
    flex-wrap: wrap;
    list-style-type: none;
  
}
.activity {
    font-size: xx-large;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 10px;
}