#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #47936F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
}

.details-container {
   display: flex;
   flex-direction: row;
    gap: 200px; /* Gap between columns */
    width: 100%;
    box-sizing: border-box;
}

.details__parks, .details__guests, .details__activity {
    background-color: #2C8574;
    border: 0.1rem solid;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.details__parks:hover, .details__guests:hover, .details__activity:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.areas {
    display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.area, .guest, .activities{
    font-size: large;
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}

.active{
    list-style-type: none;
}